header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

@media screen and (min-width: 730px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.listing {
  @media screen and (min-width: 740px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
