<header class="my-4">
  <h1 class="text-3xl">Escolas</h1>
  <div class="flex space-x-4 items-center flex-wrap gap-3 justify-center">
    <app-search-input
      placeholder="Buque por uma escola"
      (type)="filter($event)"
      (clear)="filter('')"
    ></app-search-input>
    <button [routerLink]="['/escolas', 'novo']" appButton>
      <fa-icon [icon]="faPlus"></fa-icon> Adicionar Escola
    </button>
  </div>
</header>
<section
  class="gap-4 flex flex-col listing"
  *ngIf="filtered$ | async as schools; else loading"
>
  <app-card *ngFor="let school of schools" [name]="school.name">
    <app-card-section [divider]="false">
      <fa-icon size="2x" [icon]="faGraducationCap"></fa-icon>
      <h2>{{ school.name }}</h2>
    </app-card-section>
    <app-card-section title="Supervisor(a)"
      ><p>{{ school.supervisor }}</p></app-card-section
    >
  </app-card>
</section>

<ng-template #loading>
  <p>loading...</p>
</ng-template>
