:host {
  padding: 1rem;

  position: relative;
  cursor: pointer;
  transition: 100ms;

  a {
    &.active::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
      width: 5px;
      border-radius: 2px;
      background: white;
      color: white;
    }
  }
}
