<h1>Desafio Medgroup</h1>

<h2>Descrição</h2>
<p>
  A prefeitura de uma cidade no interior do país está com dificuldades para
  controlar suas escolas públicas. Já existe um controle feito em Excel para
  controle das escolas e suas turmas, porém, o cadastro está sempre obsoleto por
  não existir um sistema centralizado de controle destes alunos. A prefeitura
  então nos contratou para desenvolver um sistema online onde serão cadastradas
  as escolas públicas e suas respectivas turmas.
</p>
<p>
  Foi especificado que o sistema será composto por 2 ferramentas: uma para
  listagem/cadastro das escolas, e outra para o cadastro/listagem das turmas de
  cada escola.
</p>

<h2>Rodando o Projeto</h2>

<code>
  <span class="bash"
    >git clone https://github.com/pherval/desafio-medgroup medgroup <br
  /></span>
  <span class="bash">cd medgroup <br /></span>
  <span class="bash">npm run dev</span>
</code>
