<div
  class="flex flex-nowrap border py-2 px-3 gap-3 rounded-lg bg-gray-50"
  (click)="search.focus()"
>
  <fa-icon [icon]="faSearch" class="text-slate-300"></fa-icon>
  <input
    type="text"
    #search
    (keyup)="type.emit(search.value)"
    [placeholder]="placeholder"
    class="outline-none bg-gray-50 grow"
  />
  <button
    (click)="clear.emit(); search.value = ''; $event.stopImmediatePropagation()"
    [ngClass]="{ 'opacity-0': !search.value || search.value.length === 0 }"
  >
    <fa-icon [icon]="faClose"></fa-icon>
  </button>
</div>
