<app-form-field>
  <fa-icon
    [icon]="faSearch"
    appInputAdornment="left"
    class="text-slate-300"
  ></fa-icon>
  <input
    type="text"
    appInput
    #search
    (keyup)="type.emit(search.value)"
    [placeholder]="placeholder"
    class="outline-none bg-gray-50 grow"
  />
  <button
    appInputAdornment="right"
    (click)="clear.emit(); search.value = ''; $event.stopImmediatePropagation()"
    [ngClass]="{ 'opacity-0': !search.value || search.value.length === 0 }"
  >
    <fa-icon [icon]="faClose"></fa-icon>
  </button>
</app-form-field>
